* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    margin: auto;
    max-height: 100px;
    height: 100px;
}
.container {
    margin: auto;
    display: flex;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    height: 100%;
}
.logo {
    flex: 1;   
}
.logoimg {
    width: 59px;
    height: 58px;
    background-image: url("../img/medalha.png");
    background-repeat: no-repeat;
}
.menu {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.menu ul {
    height: 100%;
}
.menu ul li {
    align-items: center;
    height: 100%;
}
.menu a {
    text-decoration: none;
    color: #fff;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.menu li:hover {
    border-bottom: 3px solid #b98b59;
} 
.menu ul li {
    margin-left: 20px;
    align-items: center;
}
.menu li {
    display: inline-flex;
    text-align: center;
}
.active-menu {
    padding-bottom: 20px;
    border-bottom: 3px solid #b59059;
}
section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#slider_main {
    background-color: #555555;
    background-image: url('../media/bg.jpg');
    background-size: cover;
    height: calc(100vh - 100px);
    background-position: bottom;
    align-items: center;
    justify-content: center;
}
#slider_main .slider  {
    justify-content: center;
    align-items: center;
}
.slider {
    height: 100%;
}

.slider_text {
    margin: 0px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}
#text1 {
    color: #fff;
    font-size: 60px;
}
#text2 {
    color: #b98b59;
    font-size: 60px;
}
.slider_leg {
    font-size: 20px;
    color: #fff;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.slider_button a:hover {
    background-color: #c9ad5a;
}
.slider_button a {
    padding: 10px 30px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin: 50px;
    font-size: 15px;
    font-weight: bold;
    background-color: #b98b59;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
}
.slider_dots {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.slider_dot {
    margin-left: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 3px solid #b59059;
}
.active {
    background-color: #b98b59;
}
.about_us {
    display: flex;
    width: 100%;
    height: 100vh;
}
.about_us h1 { 
    color: #000;
    text-transform: uppercase;
    font-size: 40px;
}
.about_us p {
    color: #adadad;
    text-transform: uppercase;
    font-size: 20px;
}
.text_who {
    margin-bottom: 50px;
}
.text_about {
    display: flex;
    flex-direction: row;
}
.text {
    max-height: 275px;
    height: 275px;
    padding-right: 30px;
    font-size: 20px;
    text-align: justify;
    flex: 2;
    align-items: flex-start;
}
.about_button a {
    background-color: #b98b59;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 20px;
}
.about_button a:hover {
    background-color: #c9ad5a;
}
.about_video {
    background-image: url('../img/balao.png');
    background-color: #000;
    margin-left: 15px;
    height: 275px;
    flex: 1;
    box-shadow: 5px 5px 15px #000;
}
#services {
    background-color: #000000;
    width: 100%;
    height: 100vh;
}
.services_box {
    
    max-height: 415px;
    height: 415px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.text_services {
    margin-top: 30px;
    padding-bottom: 50px;
}
.text_services h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
}
.text_services p {
    text-transform: uppercase;
}
.text_services p,
#legenda1,
#legenda2,
#legenda3,
#legenda4 {
    color: #afafaf;
    font-size: 20px;
}
#texto1 h1,
#texto2 h1,
#texto3 h1,
#texto4 h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    justify-content: baseline;
    align-items: center;
}
.box {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-start;
}

#box1 {
    display: block;
    flex: 1;
    height: 100%;
    border-left: 2px solid #afafaf;
}

#box2 {
    display: block;
    flex: 1;
    height: 100%;
    border-left: 2px solid #afafaf;
}
#box3 {
    display: block;
    flex: 1;
    height: 100%;
    border-left: 2px solid #afafaf;
}
#box4 {
    display: block;
    flex: 1;
    height: 100%;
    border-left: 2px solid #afafaf;
    border-right: 2px solid #afafaf;
}
#logo1,
#logo2, 
#logo3, 
#logo4 {
    padding-bottom: 20px;
}




.border_active {
    border-bottom: 3px solid #c9ad5a;
}
.projects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.projects_title {
    margin-top: 50px;
    text-transform: uppercase;
}
.projects_title h1 {
    font-size: 40px;
    font-weight: bold;
}
.projects_title p {
    font-size: 20px;
    color: #afafaf;
}
.projects_menu ul { 
    padding: 10px 40px;
    background-color: #ededed;
    border: 2px solid #cfcfcf;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.projects_menu ul li {
    display: inline-block;
    font-size: 20px;
}

.projects_menu a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 40px;
    border-left: 2px solid #cfcfcf;
}
.projects_menu a:first-child {
    border-left: none;
}
.projects_menu a:hover {
    border-bottom: 3px solid #c9ad5a;
}






.projects-img {
    
    margin: auto;
    max-width: 1140px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.projects-img img {
    width: 260px;
    height: 160px;
}
.project-img1 {
    width: 280px;
    margin: 10px;
    flex: 1;
}
.project-img1--about {   
    justify-content: center;
    align-items: center;
    margin-top: -160px;
    display: none;
    width: 260px;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.project-img1--about h1 {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 20px;
}
.project-img1--about p {
    font-size: 15px;
    padding: 0px 35px;
}
.project-img1:hover .project-img1--about {
    display: flex;
}
.slider-button--projects {
    padding: 10px 30px;
    text-align: center;
    color: #fff;
    text-decoration: none;margin: 50px;
    font-size: 15px;
    font-weight: bold;
    background-color: #b98b59;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
}
.slider-button--projects:hover {
    background-color: #c9ad5a;
    cursor: pointer;
}





.team {
    width: 100%;
    margin: auto;
    background-image: url('../media/bg.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
}
.team-title {
    text-transform: uppercase;
    margin-bottom: 30px;
}
.team-title h1 {
    color: #fff;
    font-size: 40px;
}
.team-title p {
    color: #adadad;
    font-size: 20px;
}
.team .team-area {
    justify-content: center;
    align-items: center;
}
.team-area {
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    width: 1140px;
    height: 100%;
    margin: auto;
}
.team-slider {
    display: flex;
    flex-direction: row; 
}
.team-slider--worker {
    max-width: 1140px;
    width: 1140px;   
    display: flex;
    flex-direction: row;
}
.team-slider--workerarea {
    display: flex;
    flex-direction: row;  
}
.team-slider--workerimg { 
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
    padding: 50px 40px;
}

.team-slider--workername {
    margin-top: 45px;
    margin-bottom: 40px;
}
.team-slider--workername h1 {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}
.team-slider--workername p {
    font-weight: 500;
    font-size: 15px;
}
.team-slider--workersocial {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.team-slider--workersocial div {
    width: 35px;
    height: 35px;
    flex: 1;
    padding: 10px;
    margin: 5px;
    background-color: #bebebe;
    border-radius: 18px;
    text-align: center;
    cursor: pointer;
}
.team-slider--workersocial div:hover {
    background-color: #b98b59;
}
.slider_dots {
    padding-top: 40px;
    margin: auto;
}






.clients {
    background-color: #f7f7f7;
}
.clients-box {
    max-width: 1140px;
    width: 100%;
    margin: auto;
}
.clients-title {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 70px;
    text-transform: uppercase;
}
.clients-title h1 {
    font-size: 40px;
}
.clients-title p {
    color: #adadad;
    font-size: 20px;
}
.client-photo img {
    padding-bottom: 30px;
    width: 180px;
}
.client-name {
    padding-bottom: 30px;
}
.aspas {
    padding-bottom: 20px;
}
.client-comment {
    text-align: center;
    padding-bottom: 50px;
    color: #7e7e7e;
}
.clients .slider_dots {
    padding-bottom: 40px;
}








.products {
    background-color: #fff;
    border-top: 1px solid #cfcfcf;
    border-bottom: 2px solid #cfcfcf;
    display: flex;
}
.product-list {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.product-list ul li {
    display: inline-flex;
    padding: 40px;
}








.price {
    background-color: #ededed;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.price-title {
    padding-top: 50px;
    text-transform: uppercase;
}
.price-title h1 {
    font-size: 40px;
    padding-bottom: 20px;
}
.price-title p {
    font-size: 20px;
    color: #adadad;
    padding-bottom: 45px;
}
.price-box {
    max-width: 1140px;
    width: 1140px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
    border-bottom: 1px solid #d2d2d2;
}
.price-box--info {
    background-color: #fff;
    padding: 30px 60px;
    border-radius: 8px;
    margin: 15px;
    box-shadow: 0px 0px 5px #afafaf;
}
.price-button {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 18px 30px;
    border-radius: 20px;
    margin-top: 28px;
}
.title-price {
    text-transform: uppercase;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
}
.price-box-title p {
    text-transform: uppercase;
    color: #afafaf;
    font-size: 15px;
    padding-bottom: 25px;
}
.price-box-desc {
    font-size: 15px;
}
.active-button,
.price-button:hover {
    background-color: #b98b59;
    cursor: pointer;
}





.promotion {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.promotion-title {
    padding-bottom: 50px;
}
.promotion-title h1 {
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
}
.promotion-title p {
    text-transform: uppercase;
    color: #afafaf;
    font-size: 20px;
}
.promotion-product {
    margin: auto;
    max-width: 1140px;
    width: 1140px;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    align-items: flex-start;
    border-bottom: 1px solid #d8d8d8;
}
.promotion-list {
    color: #8f8f8f;
    padding-bottom: 15px;
    font-size: 17px;
    
}
.promotion-product--img,
.promotion-product-desc {
    flex: 1;
}
.promotion-list ul li {
    list-style: none;
    width: 100%;
    text-align: left;
    text-transform: uppercase;

}
.promotion-list ul {
    padding-left: 85px;
    width: 100%;
    margin-top: -25px;
}
.promotion-list--img {
    text-align: start;
    display: flex;
    flex-direction: row;
}
.promotion-list--img img {
    padding-right: 50px;
}
.promotion-list--title {
    height: 100px;
    justify-content: flex-start;
}
.promotion-list--title h1 {
    text-transform: uppercase;
    width: 100%;
    color: #000;
    padding-bottom: 5px;    
}
.img-area {
    height: 100px;
    justify-content: flex-start;
}

.button-promotion {
    background-color: #b59059;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.button-promotion:hover {
    background-color: #c9ad5a;
}






.facts {
    background-color: #000;
    display: flex;
    flex-direction: column;
}
.facts-main-title {
    max-width: 1140px;
    width: 1140px;
    margin: auto;
    padding-bottom: 50px;
}.facts-main-title h1 {
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
    color: #fff;
}
.facts-main-title p {
    color: #afafaf;
    font-size: 20px;
    text-transform: uppercase;
}
.facts-part {
    max-width: 1140px;
    width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 80px;
}
.fact-container {
    margin: 5px;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    flex: 1;
}
.fact-container:first-child {
    padding-left: 0px;
}
.fact-box-title {
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.fact-box-title h1 {
    color: #b59059;
}
.fact-box-title p {
    font-size: 17px;
}
.retangle {
    height: 3px;
    width: 20px;
    background-color: #bebebe;
    margin-bottom: 10px;
}
.fact-box-text {
    color: #afafaf;
    text-align: justify;
    font-size: 15px;
}







.products.social {
    border-bottom: 1px solid #cfcfcf;
}
.social-part {
    max-width: 1140px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.share {
    display: flex;
    flex-direction: row;
    color: #aeaeae;
    text-transform: uppercase;
    margin-right: 60px;
}
.share img {
    margin-right: 30px;
}
.share p {
    font-size: 15px;
}
.social-part--media {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.social-part--media div {
    width: 70px;
    height: 35px;
    border-radius: 18px;
    
}
.socials {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    cursor: pointer;
}
.media-followers {
    font-size: 15px;
    color: #bebebe;
}
#facebook {
    background-color: #346198;    
}
#facebook:hover {
    background-color: #4581ca;    
}
#linkedin {
    background-color: #137ab4;
}
#linkedin:hover {
    background-color: #17a0f0;
}
#google {
    background-color: #e64238;
}
#google:hover {
    background-color: #fa5951;
}
#pinterest {
    background-color: #b71d29;
}
#pinterest:hover {
    background-color: #ec2535;
}
#twitter {
    background-color: #33c4f0;
}
#twitter:hover {
    background-color: #009ece;
}



.contact {
    background-image: url('../media/mapa.png');
}
.formulario {
    
    max-width: 1140px;
    width: 1140px;
    margin: auto;
}
